<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='robot.jpg') }}" class="App-logo" alt="logo" />
            <p>
                Relics Of The Modern Past - Chatting With A Local GPT-2
            </p>
            <p class="small">
                Type and click submit to send your prompt to GPT2!
            </p>
            <form action="/" method="post">
                <input type="text" name="prompt" placeholder="Enter your prompt here">
                <input type="submit" value="Submit">
            </form>
            {% if response %}
                <p>{{ response }}</p>
            {% endif %}
        </header>
    </div>
</body>
</html>
